.App  {
  margin: 0 auto;
  align-items: center;
 height: 100%;
max-width: 960px;
}
.App .link{text-align: center;}
.App .label {
 font-size: 15px;
 color: rgb(92, 204, 195);
text-decoration: underline ;

}
.App .contact {
 text-decoration: none; 
font-size: 10px;

 }