.App  {
  margin: 3em 0em;
   display: flex;
  justify-content: center;
  align-items: center;
 height: 100%;

}
.App .link{text-align: center;}
.App .label {
 font-size: 15px;
 color: rgb(92, 204, 195);
text-decoration: underline ;

}
.App .contact {
 text-decoration: none; 
font-size: 10px;

 }